<main class="booking-page-container">

    <div class="loadingAnimation" ng-if="displayLoading">
        <img src="assets/images/loading_icon.gif" />
    </div>

    <div class="booking-sidebar">
        <h3 class="booking-page-photographer-name animated slideInLeft" ng-if="initialDataLoaded">{{ merchant.name }}</h3>
        <div class="booking-page-welcome-message animated slideInLeft" ng-if="initialDataLoaded">
            <p>Welcome to the online booking tool. This platform will allow you to schedule, book, &amp; pay for your session.</p>
        </div>
        <ol class="booking-process animated slideInLeft" id="booking-process-status" ng-if="initialDataLoaded">
            <li class="booking-step-1 booking-step">Get Started</li>
            <li class="booking-step-2 booking-step">Select a Date</li>
            <li class="booking-step-3 booking-step">Select a Time</li>
            <li class="booking-step-4 booking-step">Your Information</li>
        </ol>
    </div>

    <div class="booking-content">
    
        <!--Get Started section -->
        <div class="booking-page-hero" style="background-image: url('{{ product.image.url }}');">
            <div class="booking-page-hero-content animated slideInRight" ng-if="initialDataLoaded">
                <h6 class="get-started-title">Get Started</h6>
                <h1 class="page-title">{{ product.title }}</h1>
                <!--<h6 class="session-length" ng-if="durations.length == 1">Session Length: {{ durations[0] }} minutes</h6>
                <h6 class="session-length" ng-if="durations.length > 1">Session Lengths: {{ document.write(durations.join(", ")) }} minutes</h6>-->
                <button class="get-started animated tada infinite" ng-click="getStarted()">{{ product.orderButtonText }}</button>
            </div>
        </div>

        <!-- Calendar pane -->
        <a name="step-1-scroller"></a>
        <div class="pane-calendar" id="step-2" style="display:none;">
            <div class="row">
                <div class="col-md-6">
                    <h6>Availability</h6>
                    <h3>Select a date on the calendar below to view availability:</h3>
                </div>
                <!--<div class="col-md-6">
                    <div class="session-duration text-right">
                        <h4 class="duration-count">{{ durations[0] }} minutes</h4>
                        <h6>Session Duration</h6>
                    </div>
                </div>-->
            </div>
            <hr />
            
            <booking-calendar></booking-calendar>
        </div>

        <!-- available times-->
        <a name="time-slot-scroll"></a>
        <div class="available-times" style="display:none;">
            <div class="col-md-12">
                <h6>Available Time Slots</h6>
                <h3>Select a time slot on {{ friendlyDate }} to continue booking:</h3>
                <hr />
            </div>
            <div class="col-md-4 time-slot-buttons">
                <h6>Morning</h6>
                <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'morning')" ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
            </div>
            <div class="col-md-4 time-slot-buttons">
                <h6>Afternoon</h6>
                <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'afternoon')" ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
            </div>
            <div class="col-md-4 time-slot-buttons">
                <h6>Evening</h6>
                <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'evening')" ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
            </div>
        </div>

        <!--Customer information pane -->
        <a name="customer-info-pane-scroller"></a>
        <div class="pane-customer-information" style="display:none;" ng-if="orderLoaded">
            <h6>Your Info</h6>
            <h3>We need to collect some information from you to confirm booking:</h3>
            <hr />
            <!-- Static Questions, Always Required -->
            <div class="form-group">
                <label class="control-label" for="order_customer_email">First Name*</label>
                <input id="lastName" placeholder="First Name" required="required" type="text" ng-model="order.customer().firstName" name="firstName" class="form-control" autofocus><span class="message"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="order_customer_email">Last Name*</label>
                <input id="firstName" placeholder="Last Name" required="required" type="text" ng-model="order.customer().lastName" name="lastName" class="form-control"><span class="message"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="order_customer_email">Your E-mail Address*</label>
                <input id="email" placeholder="E-mail" required="required" type="email" ng-model="order.customer().email" name="email" class="form-control"><span class="message"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="order_customer_email">Your Zip Code*</label>
                <input id="zip" placeholder="Zip Code" required="required" type="number" ng-model="order.customer().zip" name="zip" class="form-control"><span class="message"></span>
            </div>

            <!-- Dynamic Questions, Set by Merchant -->
            <div ng-repeat="(index, answer) in returnAsArray(order.answers().target())">
                <div class="form-group" ng-if="answer.question().formControl != 'separator'">
                    <label ng-if="answer.question().formControl != 'checkbox' && answer.question().formControl != 'text_output' && answer.question().formControl != 'waiver'">
                        {{ answer.question().attributes().title }}<span ng-if='answer.question().required || answer.question().priceCalculating'>*</span>
                    </label>
                    <!-- Render different from control based on answer.question.formControl type -->
                    <!-- Text Input -->
                        <input class="form-control" type="text" ng-model="answer.value" ng-if="answer.question().formControl == 'text_input'" placeholder="{{ answer.question().attributes().title }}" />
                    <!-- Text Area -->
                        <textarea class="form-control" rows="4" ng-model="answer.value" ng-if="answer.question().formControl == 'text_area'" placeholder="Your Response"></textarea>
                    <!-- Option List -->
                        <div ng-if="answer.question().formControl == 'option_list'">
                            <label ng-repeat="option in returnAsArray(answer.question().options().target())" class="clickable-label">
                                <input class="question-radio" type="radio" ng-value="option.title" name="{{answer.question().id}}" ng-model="optionsHolder[answer.question().id]" ng-change="radioChanged(answer, option)" /> {{option.title}} 
                            </label>
                        </div>
                    <!-- Drop Down -->
                        <select class="form-control" ng-if="answer.question().formControl == 'drop_down'" ng-model="optionsHolder[answer.question().id]" ng-change="selectChanged(answer)">
                            <option ng-repeat="(optionIndex, option) in returnAsArray(answer.question().options().target())" value="{{option.id}}">{{option.title}}</option>
                        </select>
                    <!-- Checkbox -->
                        <div ng-if="answer.question().formControl == 'checkbox'" >
                            <label class="clickable-label">
                                <input class="question-checkbox" type="checkbox" ng-model="answer.value" ng-change="questionValueChanged(answer)"/>{{ answer.question().attributes().title }}<span ng-if='answer.question().mustBeChecked'>*</span>
                            </label>
                        </div>
                    <!-- Spin Button -->
                        <ul class="spinner-input list-inline" ng-if="answer.question().formControl == 'spin_button'">
                            <li>
                                <input class="form-control value-input" ng-model="answer.value" readonly="" type="text" ng-init="answer.value = 1">
                            </li>
                            <li>
                                <div class="btn-group btn-group-lg">
                                    <button class="btn btn-info update-price stepper-minus" ng-click="answer.value = answer.value - 1; questionValueChanged(answer)" ng-disabled="answer.value === 1" type="button" disabled="disabled">-</button>
                                    <button class="btn btn-info update-price stepper-plus" ng-click="answer.value = answer.value + 1; questionValueChanged(answer)" ng-disabled="answer.value >= answer.question().max" type="button">+</button>
                                </div>
                            </li>
                        </ul>
                    <!-- Waiver -->
                        <div ng-if="answer.question().formControl == 'waiver'">
                            <div class="well well-sm waiver">{{ answer.question().waiverText }}</div>
                            <label class="clickable-label">
                                <input class="question-checkbox" type="checkbox" ng-model="answer.value" />{{ answer.question().attributes().title }}*
                            </label>
                        </div>
                    <!-- Text Output -->
                        <p ng-if="answer.question().formControl == 'text_output' && !answer.question().displayAsTitle" class="question-text-output">{{ answer.question().title }}</p>
                        <h3 ng-if="answer.question().formControl == 'text_output' && answer.question().displayAsTitle" class="question-text-output">{{ answer.question().title }}</h3>
                </div>
                <hr ng-if="answer.question().formControl == 'separator'">
            </div>
            <!-- End of Questions -->

            <div class="alert alert-success priceTable" ng-if="psp != 'cash'">
                <table>
                    <tr>
                        <td>Subtotal:</td>
                        <td>{{ order.attributes().subtotal }}</td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td>{{ order.attributes().tax }}</td>
                    </tr>
                    <tr style="border-top:2px solid #666">
                        <td><strong>Total:</strong></td>
                        <td>{{ order.attributes().total }}</td>
                    </tr>
                </table>
            </div>

            
            <div class="alert alert-warning priceTable" ng-if="psp == 'cash'">
                <strong>No payment required now. Payment will be collected at the venue.</strong>
                <br><br>
                <table>
                    <tr>
                        <td>Subtotal:</td>
                        <td>{{ order.attributes().subtotal }}</td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td>{{ order.attributes().tax }}</td>
                    </tr>
                    <tr style="border-top:2px solid #666">
                        <td><strong>Total:</strong></td>
                        <td>{{ order.attributes().total }}</td>
                    </tr>
                </table>

                <div class="form-submit">
                    <a class="btn-primary btn animated pulse infinite" ng-click="submitOrder()">{{ product.orderButtonText }}</a>
                </div>
            </div>


            <!-- Spreedly Checkout Form -->
            <form id="payment-form" class="ccForm" ng-if="psp == 'cash'">
                <input type="hidden"  name="payment_method_token" id="payment_method_token">

                <div class="form-group">
                    <label class="control-label" for="full_name">Name On Card</label>
                    <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Name On Card">
                </div>

                <div class="form-group">
                    <label class="control-label">Credit Card Number</label>
                    <div id="spreedly-number" class="spreedly-input"></div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="spreedly-exp-month">Expiration Date</label>
                    <input type="text" id="month" name="month" maxlength="2" class="form-control" placeholder="MM">
                    <input type="text" id="year" name="year" maxlength="4" class="form-control" placeholder="YYYY">
                </div>

                <div class="form-group">
                    <label class="control-label">CVV</label>
                    <div id="spreedly-cvv" class="spreedly-input"></div>
                </div>

                <div class="form-submit">
                    <input type="button" class="btn-primary btn animated pulse infinite finishButton" id="submit-button" ng-click="submitPaymentForm()" value='{{ product.orderButtonText }}' disabled />
                </div>
            </form>


            <!-- Square Checkout Form -->
            <div id="sq-ccbox" ng-if="psp == 'square'">
                <form id="nonce-form" novalidate>

                    <div class="form-group">
                        <label class="control-label">Card Number:</label>
                        <div id="sq-card-number"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">CVV:</label>
                        <div id="sq-cvv"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Expiration Date:</label>
                        <div id="sq-expiration-date"></div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Postal Code:</label>
                        <div id="sq-postal-code"></div>
                    </div>

                    <div class="form-submit">
                        <input type="button" class="btn-primary btn animated pulse infinite finishButton" id="sq-creditcard" ng-click="requestCardNonce($event)" value='{{ product.orderButtonText }}' />
                    </div>

                    <input type="hidden" id="card-nonce" name="nonce">
                </form>
            </div>

            <div id="sq-walletbox" ng-if="psp == 'square'">
                <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                <!-- Placholder for Apple Pay for Web button -->
                <button id="sq-apple-pay" class="button-apple-pay"></button>

                <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                <!-- Placholder for Masterpass button -->
                <button id="sq-masterpass" class="button-masterpass"></button>
            </div>
        
    </div>

</main>