<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <% } %>

    <!-- Set Static API Key and Product ID -->
    <script>
      window.OCCSN = {
        api_key: 'f52cda5a0ab8455a8edd40ae7fb372de',
        product_id: 'f8aqqjq6o9x9unuyxfks0q',
        host_url: 'http://occasion.lvh.me:3000/',
        spreedly_key: 'CYJy65Wq5dmc2dGFVQOp6eci1Ka',
        square_key: 'sandbox-sq0idp-kKdgouNdlT2lj08V0tSJ3g'
      };
    </script>
  </head>
  <body class="body-scroll-lock">

    <occsn-app></occsn-app>

    <!-- Font-Awesome -->
    <script src="https://use.fontawesome.com/c385cd600f.js"></script>

    <!-- Spreedly iFrame API -->
    <script src="https://core.spreedly.com/iframe/iframe-v1.min.js"></script>

    <!-- SqPaymentForm library -->
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
  </body>
</html>
