<main class="booking-page-container">

    <div class="loadingAnimation" ng-if="displayLoading">
        <span us-spinner="{ color: '#fff' }"></span>
    </div>

    <div class="booking-sidebar">
        <h3 class="booking-page-photographer-name animated slideInLeft" ng-if="initialDataLoaded">{{ merchant.name }}</h3>
        <div ng-if="order.persisted()">
            <div class="booking-page-welcome-message animated slideInUp">
                <p>Hello {{ order.customer().firstName }}, thanks for your purchase!</p>
                <p ng-if="product.postTransactionalMessage"><br/>{{ product.postTransactionalMessage }}</p>
            </div>
            <ol class="booking-process animated slideInUp" id="booking-process-status">
                <li class="booking-step booking-step-green booking-step-complete">Order Complete</li>
            </ol>
        </div>
        <div ng-if="!order.persisted()">
            <div class="booking-page-welcome-message animated slideInLeft" ng-if="initialDataLoaded">
                <ng-bind-html ng-bind-html="product.description"></ng-bind-html>
            </div>
            <ol class="booking-process animated slideInLeft" id="booking-process-status" ng-if="initialDataLoaded">
                <li class="booking-step-1 booking-step">Get Started</li>
                <li class="booking-step-2 booking-step">Select a Date</li>
                <li class="booking-step-3 booking-step">Select a Time</li>
                <li class="booking-step-4 booking-step">Your Information</li>
            </ol>
        </div>
    </div>
  
    <div class="booking-content">
        <div ng-if="order.persisted()" class="pane-order-complete animated fadeInUp">
            <h3>Order #{{ order.verificationCode }}</h3>
            <hr>
            <h4>{{ formatToFullDatetime(order.timeSlots().target().first().startsAt) }}</h4>
            <p>An order confirmation email with receipt has been sent to {{ order.customer().email }}.</p>
            <br/>
            <div class="alert priceTable" ng-if='!product.free' ng-class="{ 'alert-warning': psp == 'cash', 'alert-success': psp != 'cash' }">
                <div ng-if="psp == 'cash'">
                    <strong>No payment required now. Payment will be collected at the venue.</strong>
                    <br><br>
                </div>
                <table>
                    <tr ng-if="order.subtotal != order.total">
                        <td>Subtotal:</td>
                        <td>{{ order.subtotal | currency:merchant.currency().code }}</td>
                    </tr>
                    <tr ng-if="order.tax != 0 && order.tax != null">
                        <td>Tax:</td>
                        <td>{{ order.tax | currency:merchant.currency().code }}</td>
                    </tr>
                    <tr ng-if="order.couponAmount != null">
                        <td>Discount:</td>
                        <td>-{{ order.couponAmount | currency:merchant.currency().code }}</td>
                    </tr>
                    <tr ng-class="{ 'borderTop': order.subtotal != order.total }">
                        <td><strong>Total:</strong></td>
                        <td>{{ order.total | currency:merchant.currency().code }}</td>
                    </tr>
                    <tr ng-if="order.outstandingBalance != order.total">
                        <td>Balance due:</td>
                        <td>{{ order.outstandingBalance | currency:merchant.currency().code }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-if="!order.persisted()">
            <!--Get Started section -->
            <div class="booking-page-hero" style="background-image: url('{{ product.image.url }}');">
                <div class="booking-page-hero-content animated slideInRight" ng-if="initialDataLoaded">
                    <h6 class="get-started-title">Get Started</h6>
                    <h1 class="page-title">{{ product.title }}</h1>
                    <!--<h6 class="session-length" ng-if="durations.length == 1">Session Length: {{ durations[0] }} minutes</h6>
                    <h6 class="session-length" ng-if="durations.length > 1">Session Lengths: {{ document.write(durations.join(", ")) }} minutes</h6>-->
                    <button class="get-started animated tada infinite" ng-click="getStarted()">{{ product.orderButtonText }}</button>
                </div>
            </div>

            <!-- Calendar pane -->
            <a name="step-1-scroller"></a>
            <div class="pane-calendar" id="step-2" style="display:none;">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Availability</h6>
                        <h3>Select a date on the calendar below to view availability:</h3>
                    </div>
                    <!--<div class="col-md-6">
                        <div class="session-duration text-right">
                            <h4 class="duration-count">{{ durations[0] }} minutes</h4>
                            <h6>Session Duration</h6>
                        </div>
                    </div>-->
                </div>
                <hr />

                <booking-calendar></booking-calendar>
            </div>

            <!-- available times-->
            <a name="time-slot-scroll"></a>
            <div class="available-times clearfix" style="display:none;">
                <div class="col-md-12">
                    <h6>Available Time Slots</h6>
                    <h3>Select a time slot on {{ friendlyDate }} to continue booking:</h3>
                    <hr />
                </div>
                <div class="col-md-4 time-slot-buttons">
                    <h6>Morning</h6>
                    <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'morning')"
                        ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
                </div>
                <div class="col-md-4 time-slot-buttons">
                    <h6>Afternoon</h6>
                    <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'afternoon')"
                        ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
                </div>
                <div class="col-md-4 time-slot-buttons">
                    <h6>Evening</h6>
                    <button class="btn btn-primary time-slot" ng-repeat="(slotIndex, slotValue) in availableSlots" ng-if="splitByTimeOfDay(slotValue.startsAt, 'evening')"
                        ng-click="onTimeSlotSelection($event, slotValue)">{{ formatToTime(slotValue.startsAt) }}</button>
                </div>
            </div>

            <!--Customer information pane -->
            <a name="customer-info-pane-scroller"></a>
            <div class="pane-customer-information" style="display:none;" ng-if="orderLoaded">
                <h6>Your Info</h6>
                <h3>We need to collect some information from you to confirm booking:</h3>
                <hr />

                <!-- Question Form -->
                <form id="questionForm" ng-submit="submitPaymentForms($event)">
                    <!-- Static Questions, Always Required -->
                    <div class="form-group">
                        <label class="control-label" for="order_customer_email">First Name*</label>
                        <input id="lastName" placeholder="First Name" required="required" type="text" ng-model="order.customer().firstName" name="firstName"
                            class="form-control" autofocus><span class="message"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="order_customer_email">Last Name*</label>
                        <input id="firstName" placeholder="Last Name" required="required" type="text" ng-model="order.customer().lastName" name="lastName"
                            class="form-control"><span class="message"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="order_customer_email">E-mail Address*</label>
                        <input id="email" placeholder="E-mail" required="required" type="email" ng-model="order.customer().email" name="email" class="form-control">
                        <span class="message"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="order_customer_email">Zip Code*</label>
                        <input id="zip" placeholder="Zip Code" required="required" type="text" ng-model="order.customer().zip" name="zip" class="form-control">
                        <span class="message"></span>
                    </div>
                    <!-- End of Static Questions -->

                    <!-- Dynamic Questions, Set by Merchant -->
                    <div ng-repeat="(index, answer) in order.answers().target().toArray()">
                        <div class="form-group" ng-if="answer.question().formControl != 'separator'">
                            <label ng-if="answer.question().formControl == 'text_input' || answer.question().formControl == 'text_area' || answer.question().formControl == 'option_list' || answer.question().formControl == 'drop_down'">
                                {{ answer.question().title }}<span ng-if='answer.question().required'>*</span>
                            </label>
                            <!-- Render different from control based on answer.question.formControl type -->
                            <!-- Text Input -->
                            <input class="form-control"
                                   ng-if="answer.question().formControl == 'text_input'"
                                   ng-model="answer.value"
                                   ng-required="answer.question().required"
                                   placeholder="{{ answer.question().title }}"
                            />
                            <!-- Text Area -->
                            <textarea class="form-control" rows="4"
                                      ng-if="answer.question().formControl == 'text_area'"
                                      ng-model="answer.value"
                                      ng-required="answer.question().required"
                                      placeholder="Your Response">
                            </textarea>
                            <!-- Option List -->
                            <div ng-if="answer.question().formControl == 'option_list'">
                                <span class="invisible"
                                      ng-init="optionsHolder[answer.question().id] = defaultOptionFor(answer.question()); optionableQuestionChanged(answer, optionsHolder[answer.question().id])">
                                </span>
                                <label class="clickable-label"
                                       ng-repeat="option in answer.question().options().target().toArray()">
                                    <input class="question-radio" type="radio"
                                           name="{{answer.question().id}}"
                                           ng-value="option"
                                           ng-model="optionsHolder[answer.question().id]"
                                           ng-change="optionableQuestionChanged(answer, optionsHolder[answer.question().id])" />

                                    {{ titleForOption(option) }}
                                </label>
                            </div>
                            <!-- Drop Down -->
                            <select class="form-control"
                                    ng-if="answer.question().formControl == 'drop_down'"
                                    ng-model="optionsHolder[answer.question().id]"
                                    ng-change="optionableQuestionChanged(answer, optionsHolder[answer.question().id])"
                                    ng-options="option as titleForOption(option) for option in answer.question().options().target().toArray()"
                                    ng-init="optionsHolder[answer.question().id] = defaultOptionFor(answer.question()); optionableQuestionChanged(answer, optionsHolder[answer.question().id])">

                                <option value="">-- Please select --</option>
                            </select>
                            <!-- Spin Button -->
                            <div ng-if="answer.question().formControl == 'spin_button'">
                                <label>
                                    <span>{{ titleForSpinButton(answer) }}</span>
                                    <span ng-if='answer.question().required'>*</span>
                                </label>
                                <ul class="spinner-input list-inline">
                                    <li>
                                        <input class="form-control value-input" readonly=""
                                               ng-model="answer.value"
                                               ng-init="answer.value = answer.question().min" />
                                    </li>
                                    <li>
                                        <div class="btn-group btn-group-lg">
                                            <button type="button" class="btn btn-info update-price stepper-minus"
                                                    ng-click="answer.value = answer.value - 1; answerChanged(answer)"
                                                    ng-disabled="answer.value == answer.question().min">
                                                -
                                            </button>
                                            <button type="button" class="btn btn-info update-price stepper-plus"
                                                    ng-click="answer.value = answer.value + 1; answerChanged(answer)"
                                                    ng-disabled="answer.value >= answer.question().max">
                                                +
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Checkbox && Waiver -->
                            <div ng-if="answer.question().formControl == 'checkbox' || answer.question().formControl == 'waiver'">
                                <div class="well well-sm waiver" ng-if="answer.question().formControl == 'waiver'">
                                    <ng-bind-html ng-bind-html="answer.question().waiverText">
                                    </ng-bind-html>
                                </div>

                                <label class="clickable-label">
                                    <input class="question-checkbox" type="checkbox"
                                           ng-model="answer.value"
                                           ng-change="answerChanged(answer)"
                                           ng-required="answer.question().required || answer.question().formControl == 'waiver'"
                                           ng-init="answer.value = false" />

                                    <span>{{ titleForCheckbox(answer.question()) }}</span>
                                    <span ng-if="answer.question().required || answer.question().formControl == 'waiver'">*</span>
                                </label>
                            </div>
                            <!-- Text Output -->
                            <h3 class="question-text-output" ng-if="answer.question().formControl == 'text_output' && answer.question().displayAsTitle">{{ answer.question().title }}</h3>
                            <p  class="question-text-output" ng-if="answer.question().formControl == 'text_output' && !answer.question().displayAsTitle">{{ answer.question().title }}</p>
                        </div>
                        <hr ng-if="answer.question().formControl == 'separator'">
                    </div>
                    <!-- End of Dynamic Questions -->


                    <!-- Price Table -->
                    <div class="alert priceTable" ng-if='requiresPaymentForms()' ng-class="{ 'alert-warning': psp == 'cash', 'alert-success': psp != 'cash' }">
                        <div ng-if="psp == 'cash'">
                            <strong>No payment required now. Payment will be collected at the venue.</strong>
                            <br><br>
                        </div>
                        <table>
                            <tr ng-if="order.subtotal != order.total">
                                <td>Subtotal:</td>
                                <td>{{ order.subtotal | currency:merchant.currency().code }}</td>
                            </tr>
                            <tr ng-if="order.tax != 0 && order.tax != null">
                                <td>Tax:</td>
                                <td>{{ order.tax | currency:merchant.currency().code }}</td>
                            </tr>
                            <tr ng-if="order.couponAmount != null">
                                <td>Discount:</td>
                                <td>-{{ order.couponAmount | currency:merchant.currency().code }}</td>
                            </tr>
                            <tr ng-class="{ 'borderTop': order.subtotal != order.total }">
                                <td><strong>Total:</strong></td>
                                <td>{{ order.total | currency:merchant.currency().code }}</td>
                            </tr>
                            <tr ng-if="order.outstandingBalance != order.total">
                                <td>Balance due:</td>
                                <td>{{ order.outstandingBalance | currency:merchant.currency().code }}</td>
                            </tr>
                        </table>
                    </div>
                    <!-- End Price Table -->
                    <!-- Redeemables Section -->
                    <div id="redeemables" ng-if="product.hasRedeemables && requiresPaymentForms()">
                        <br><br>
                        <h3>Gift Cards & Coupons</h3>
                        <hr>

                        <div class="form-group hasButton">
                            <label class="control-label" for="redeemableInput">Gift Card Number or Coupon Code</label>
                            <input type="text" id="redeemableInput" name="redeemableInput" class="form-control" placeholder="Gift Card Number or Coupon Code" ng-model="redeemableInput" />
                            <input type="button" class="btn-primary btn" ng-if="activeRedeemable == null" value="Check" ng-click="checkRedeemable()" />
                            <input type="button" class="btn-danger btn" ng-if="activeRedeemable != null" value="Remove" ng-click="removeRedeemable()" />
                            <p class="appliedStatus" ng-if="redeemableStatus != null">{{ redeemableStatus }}</p>
                            <p class="appliedError" ng-if="redeemableError != null">{{ redeemableError }}</p>
                        </div>
                    </div>
                    <!-- End Redeemables Section -->

                    <!-- Checkout Forms -->
                    <div ng-if='requiresPaymentForms()'>

                        <!-- Spreedly Checkout Form -->
                        <div id="payment-form" class="ccForm" ng-if="psp == 'spreedly'">
                            <h3>Pay with Card</h3>
                            <hr>

                            <input type="hidden" name="payment_method_token" id="payment_method_token">

                            <div class="form-group">
                                <label class="control-label" for="full_name">Name On Card</label>
                                <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Name On Card">
                            </div>

                            <div class="form-group">
                                <label class="control-label">Credit Card Number</label>
                                <div id="spreedly-number" class="spreedly-input"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="spreedly-exp-month">Expiration Date</label>
                                <input type="text" id="month" name="month" maxlength="2" class="form-control" placeholder="MM">
                                <input type="text" id="year" name="year" maxlength="4" class="form-control" placeholder="YYYY">
                            </div>

                            <div class="form-group">
                                <label class="control-label">CVV</label>
                                <div id="spreedly-cvv" class="spreedly-input"></div>
                            </div>
                        </div>
                        <!-- End Spreedly Checkout Form -->

                        <!-- Square Checkout Form -->
                        <div id="sq-ccbox" ng-if="psp == 'square'">
                            <h3>Pay with Card</h3>
                            <hr>

                            <div class="form-group">
                                <label class="control-label">Card Number:</label>
                                <div id="sq-card-number"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">CVV:</label>
                                <div id="sq-cvv"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Expiration Date:</label>
                                <div id="sq-expiration-date"></div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Postal Code:</label>
                                <div id="sq-postal-code"></div>
                            </div>

                            <input type="hidden" id="card-nonce" name="nonce">
                        </div>
                        <div id="sq-walletbox" ng-if="psp == 'square'">
                            <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
                            <!-- Placholder for Apple Pay for Web button -->
                            <button id="sq-apple-pay" class="button-apple-pay"></button>

                            <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
                            <!-- Placholder for Masterpass button -->
                            <button id="sq-masterpass" class="button-masterpass"></button>
                        </div>
                        <!-- End Square Checkout Form -->
                    </div>
                    <!-- End Checkout Forms -->

                    <!-- Errors Section -->
                    <div class="alert alert-danger" ng-if="orderErrors != null && orderErrors.length > 0">
                        <h4>There were issues with your order:</h4>
                        <ul>
                            <li ng-repeat="(errorIndex, errorValue) in orderErrors">{{ errorValue.message }}</li>
                        </ul>
                    </div>
                    <!-- End Errors Section -->

                    <!-- Order Submit -->
                    <div class="form-submit">
                        <button type="submit" ng-disabled='submitting' class="btn-primary btn animated pulse infinite finishButton">
                            <span ng-if="!submitting">{{product.orderButtonText}}</span>
                            <span ng-if="submitting" style="width: 30px; height: 30px;" us-spinner="{ color: '#8e93a8' }"></span>
                        </button>
                    </div>
                    <!-- End Order Submit -->

                </form>
                <!-- End Question Form -->
        </div>
    </div>
</main>